.no-after::after {
    content: none;
}

.fix {
    margin-left: 350px;
}

.currency-selector-wrapper {
    font-size: 14px;
    margin-right: 5px;
}

.ht-currency-trigger {
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
}

.btn-sm {
    font-size: 14px;
    padding: 5px 10px;
}